{% extends 'AppBundle:Principal:body.html.twig' %}

{% block content %}
<table id="tabla1" class="table table-striped">
  <thead>
    <tr>
      <th>
        Nombre
      </th>
      <th>
        Edad
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Carlos
      </td>
      <td>
        37
      </td>
    </tr>
    <tr>
      <td>
        Manuel
      </td>
      <td>
        40
      </td>
    </tr>
    <tr>
      <td>
        Miguel
      </td>
      <td>
        46
      </td>
    </tr>
    <tr>
      <td>
        José
      </td>
      <td>
        31
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
