{% extends 'AppBundle:Principal:body.html.twig' %}

{% block content %}
<table id="tabla2" class="table table-striped">
  <thead>
    <tr>
      <th>
        Id
      </th>
      <th>
        Fecha
      </th>
      <th>
        Hora_Inicio
      </th>
      <th>
        Hora_Fin
      </th>
    </tr>
  </thead>
</table>
{% endblock %}
